<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <sites>
        <site>
            <id>1</id>
            <url>http://tagesanzeiger.ch</url>
            <checkAt>
                <time>0 */1 * * * *</time>
            </checkAt>
            <htmlMethod>
                <selectors>
                    <selector name="Main Story">#topStoryA &gt; .featureStory &gt; h3</selector>
                </selectors>
            </htmlMethod>
        </site>
        <site>
            <id>2</id>
            <url>https://api.openrates.io/latest?base=CHF</url>
            <checkAt>
                <time>0 */1 * * * *</time>
            </checkAt>
            <jsonMethod>
                <selectors>
                    <selector name="CAD">$.rates.CAD</selector>
                    <selector name="EUR">$.rates.EUR</selector>
                    <selector name="USD">$.rates.USD</selector>
                    <selector name="JPY">$.rates.JPY</selector>
                    <selector name="AUD">$.rates.AUD</selector>
                    <selector name="GBP">$.rates.GBP</selector>
                </selectors>
                <requestMethod>GET</requestMethod>
            </jsonMethod>
        </site>
    </sites>
</settings>
